<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Register</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.css" rel="stylesheet">
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/bootstrap-table.min.js"></script>
        <script src="https://unpkg.com/bootstrap-table@1.18.2/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>

    </head>

    <header class="pb-5">
        <nav class=" navbar navbar-light" style="background-color: #a0d7ff;">
            <a class=" navbar-brand" href="{% url 'djangoapp:index' %}">Best Cars</a>
       
        </nav>
    </header>

    <main role="main" class="d-flex justify-content-center pt-3 ">
        <form class="border border-dark p-4 w-auto h-auto text-center bg-light" action="{% url 'djangoapp:registration' %}"  method="post">
            {% csrf_token %}
            
            <h1 class="text-center">Sign Up!</h1><br>
            <label for="username"><b>User Name</b></label>
            <br>
            <input type="text" placeholder="Enter User Name: " name="username" required>
            <br>
            <label for="fname"><b>First Name</b></label>
            <br>
            <input type="text" placeholder="Enter First Name: " name="fname" required>
            <br>
            <label for="lname"><b>Last Name</b></label>
            <br>
            <input type="text" placeholder="Enter Last Name: " name="lname" required>
            <br>
            <label for="pword"><b>Password</b></label>
            <br>
            <input type="password" placeholder="Enter Password: " name="pword" required>
            <br>
            <br>
            <button class="btn btn-warning btn-lg" type="submit">Sign Up</button>
        </form>
    </main>
    

    <footer class=" navbar navbar-light fixed-bottom" style="background-color: #a0d7ff;">
        <div class="container">
          <a class="btn btn-sm btn-outline-info" type="button" href="{% url 'djangoapp:about' %}">About Us</a>
          <a class="btn btn-sm btn-outline-info" type="button" href="{% url 'djangoapp:contact' %}">Contact Us</a>
        </div>
      </footer>
      </body>
  

</html>

